---
layout: default
asciidoc-attributes:
  notitle: true
---
{@io.quarkiverse.roq.frontmatter.runtime.model.DocumentPage page}

<article class="post">
  <nav class="post-breadcrumb" aria-label="Breadcrumb">
    <a href="{site.url.relative}">Blog</a>
    {#if page.data.category??}
    <span class="post-breadcrumb__sep">/</span>
    <a href="{site.url('/posts/tag/')}{page.data.category.slugify}">{page.data.category}</a>
    {#else if page.data.tags??}
    <span class="post-breadcrumb__sep">/</span>
    <a href="{site.url('/posts/tag/')}{page.data.tags.asStrings.get(0).slugify}">{page.data.tags.asStrings.get(0)}</a>
    {/if}
    <span class="post-breadcrumb__sep">/</span>
    <span class="post-breadcrumb__current">{page.title}</span>
  </nav>

  <header class="post-head">
    <h1 class="post-title">{page.title}</h1>
    <div class="post-byline">
      <span class="avatar" aria-hidden="true">{#if page.data.author??}{page.data.author.charAt(0)}{#else}Q{/if}</span>
      <span class="post-byline__text">
        <span class="post-byline__name">{page.data.author ?: site.title}</span>
        <span class="post-byline__sub">
          <time datetime="{page.date}">{page.date.format('MMM d, yyyy')}</time>
          &middot; <span data-reading-time>&mdash;</span>
        </span>
      </span>
      {#if page.data.category??}
      <a class="post-cat" href="{site.url('/posts/tag/')}{page.data.category.slugify}">{page.data.category}</a>
      {#else if page.data.tags??}
      <a class="post-cat" href="{site.url('/posts/tag/')}{page.data.tags.asStrings.get(0).slugify}">{page.data.tags.asStrings.get(0)}</a>
      {/if}
    </div>
  </header>

  <div class="post-layout">
    {#include partials/toc /}

    <div class="post-main">
      <div class="article-content prose dark:prose-invert">
        {#insert /}
      </div>

      {#if page.data.tags??}
      <div class="post-tags">
        {#for tag in page.data.tags.asStrings}
        <a href="{site.url('/posts/tag/')}{tag.slugify}" class="tag-pill">#{tag.slugify}</a>
        {/for}
      </div>
      {/if}

      {#if page.data.author??}
      <aside class="post-author">
        <span class="avatar" aria-hidden="true">{page.data.author.charAt(0)}</span>
        <div>
          <p class="post-author__name">{page.data.author}</p>
          <p class="post-author__bio">Writing about Quarkus and cloud-native Java on Quarkus Guru.</p>
        </div>
      </aside>
      {/if}

      <nav class="post-nav">
        {#if page.previous}
        <a class="post-nav__link post-nav__prev" href="{page.previous.url}">
          <span class="post-nav__dir">&larr; Previous</span>
          <span class="post-nav__title">{page.previous.title}</span>
        </a>
        {#else}
        <span></span>
        {/if}
        {#if page.next}
        <a class="post-nav__link post-nav__next" href="{page.next.url}">
          <span class="post-nav__dir">Next &rarr;</span>
          <span class="post-nav__title">{page.next.title}</span>
        </a>
        {#else}
        <span></span>
        {/if}
      </nav>
    </div>
  </div>
</article>
